
<nav class="navbar  navbar-dark bg-dark navbar-fixed-bottom">
  <div class="navbar-brand" >
<img src="https://png.icons8.com/fsociety-mask-filled/ios7/75" title="Fsociety Mask Filled" width="75" height="75">copyright NR-MAK</div>
  
</nav>
